<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="container">
        <h1>Resume Analyzer</h1>
        <form action="/analyze_resume" method="POST" enctype="multipart/form-data">
            <input type = "text" name = "jd" value = "Enter Job Description" required>
            <input type="file" name="resume" required>
            <button type="submit">Upload Resume</button>
        </form>          
        <div id="resultBox"></div>
    </div>

    <script src="/static/script2.js"></script>
</body>
</html>
